.bag
    position: fixed
    right: 0
    top: 0
    z-index: 4
    display: flex
    flex-direction: column
    //padding: 45px 200px 50px 200px
    padding: 0px 200px 50px 200px
    width: 850px
    height: 100%
    //max-height: 844px
    background-color: $text-color4
    animation: bag 0.5s ease-in 1 both reverse
    overflow-x: hidden
    overflow-y: auto
    &::-webkit-scrollbar
        width: 0
    // &::-webkit-scrollbar
    //     width: 2px
    //     background-color: $bg-color3
    // &::-webkit-scrollbar-track
    //     width: 5px
    // &::-webkit-scrollbar-thumb
    //     width: 5px
    //     border-radius: 1.5px
    //     background-color: $text-color2
    &-empty
        display: flex
        flex-direction: column
        height: 100%
        border-top: 1px solid #E5E5E5
        &__image
            display: flex
            flex-grow: 1
            margin: 0 auto 50px auto
            width: 75%
            border-bottom: 1px solid #E5E5E5
        &__button
            margin: 0 auto
            width: 75%
            height: 50px
    &-wrapper
        display: flex
        flex-direction: column
        justify-content: space-between
        //margin: 0 0 15px 0
        //padding: 0 15px 0 0
        width: 100%
        //height: 100%
        //min-height: 323px
        //height: 100%
        //height: 649px
        //overflow: auto
        // &::-webkit-scrollbar
        //     width: 2px
        //     background-color: $bg-color3
        // &::-webkit-scrollbar-track
        //     width: 5px
        // &::-webkit-scrollbar-thumb
        //     width: 5px
        //     border-radius: 1.5px
        //     background-color: $text-color2
    &-title
        position: sticky
        top: 0
        display: flex
        justify-content: space-between
        align-items: flex-start
        width: 100%
        padding: 45px 0 0 0
        background-color: white
        &__title
            margin-bottom: 43px
            font-family: $font-light
            color: $text-color3
            font-weight: 350
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.02em
    &-block
        display: flex
        flex-direction: column
        min-height: 325px
    &-info
        display: flex
        padding: 25px 0
        border-top: 1px solid #E5E5E5
        border-bottom: 1px solid #E5E5E5
        &__image
            margin: 0 20px 0 0
            width: 168px
            height: 180px
            +background-image
            border: 1px solid $bg-color3
        &__text
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 192px
            height: 157px
        &__title
            font-family: $font-light
            color: $text-color3
            font-weight: 350
            font-size: 18px
            line-height: 21px
        &__span
            color: $text-color2
            +font
    &-price
        display: flex
        justify-content: space-between
        align-self: flex-end
        padding: 22px 0 50px 0
        width: 263px
        &__span
            color: $text-color3
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__button
            color: $text-color3
            font-family: $font-thin
            +font
            border-bottom: 1px solid $text-color2
            &:hover
                border-bottom: 1px solid $text-color4
    &-total
        display: flex
        flex-direction: column
        justify-content: flex-end
        flex-grow: 1
        &__span
            display: inline-block
            padding: 22px 0 45px 0
            color: $text-color2
            border-top: 1px solid #E5E5E5
            +font
        &__button
            height: 50px

@keyframes bag
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 1
        transform: translateX(100%)

@media (max-width: 1200px)
    .bag
        width: 490px
        padding: 0px 20px 50px 20px
        &-title
            padding: 45px 0 0 0
// @media (min-width: 768px) and (max-width: 900px)
@media (min-width: 481px) and (max-width: 767px)
    .bag
        width: 100%
        padding: 0px 20px 40px 20px
        &-title
            padding: 20px 0 0 0
            &__title
                font-size: 20px
        &-info
            &__span
                +adapt-font-320-640
        &-price
            &__span, &__button
                +adapt-font-320-640
        &-total
            &__span, &__button
                +adapt-font-320-640
@media (min-width: 320px) and (max-width: 480px)
    .bag
        width: 100%
        padding: 0px 10px 40px 10px
        &-title
            padding: 20px 0 0 0
            &__title
                margin-bottom: 35px
                font-size: 20px
        &-info
            &__span
                +adapt-font-320-640
        &-price
            width: 100%
            &__span, &__button
                +adapt-font-320-640
        &-total
            &__span, &__button
                +adapt-font-320-640