.complete
    padding: 0px 0 100px 0
    &-wrapper
        padding: 93px 0 0 0
        border-top: 1px solid $bg-color3
    &__title
        margin: 0 0 40px 0 !important
        font-family: $font-light
        color: $text-color3
        font-style: normal
        font-weight: 350
        font-size: 40px
        line-height: 46px
        letter-spacing: 0.02em

// @media (max-width: 1200px)
// @media (min-width: 768px) and (max-width: 900px)
@media (min-width: 481px) and (max-width: 767px)
    .complete
        padding: 0px 0 50px 0
        &-wrapper
            padding: 46px 0 0 0
        &__title
            font-size: 22px
            line-height: 26px
            letter-spacing: 0.03em
@media (min-width: 320px) and (max-width: 480px)
    .complete
        padding: 0px 0 50px 0
        &-wrapper
            padding: 50px 0 0px 0
        &__title
            font-size: 22px
            line-height: 26px
            letter-spacing: 0.03em