* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@font-face {
  font-family: "GTEestiProDisplay-Thin";
  src: url("../public/fonts/GTEestiProDisplay-Thin.woff") format("woff");
  src: url("../public/fonts/GTEestiProDisplay-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "GTEestiProDisplay-Light";
  src: url("../public/fonts/GTEestiProDisplay-Light.woff") format("woff");
  src: url("../public/fonts/GTEestiProDisplay-Light.woff2") format("woff2");
}

body {
  margin: 0;
  width: 100%;
  font-family: "GTEestiProDisplay-Thin";
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "GTEestiProDisplay-Thin";
}

input:focus {
  outline: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-animation-name: moveCenter;
          animation-name: moveCenter;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.preloader--hidden {
  display: none;
}

.preloader-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preloader__img {
  -webkit-animation-name: moveRight;
          animation-name: moveRight;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.preloader__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: end;
  padding-top: 37px;
  padding-right: 95px;
  color: #333333;
  font-style: normal;
  font-weight: 250;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
  -webkit-animation-name: moveLeft;
          animation-name: moveLeft;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  animation-direction: reverse;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes moveCenter {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveCenter {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
}

@keyframes moveLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(1600px);
            transform: translateX(1600px);
  }
}

.header {
  max-width: 100%;
  background-color: #262626;
  z-index: 2;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  height: 100px;
}

.navbar-button {
  display: none;
}

.navbar-button__line {
  width: 30px;
  height: 2px;
  background-color: #666666;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 276px;
}

.navbar-block__link {
  color: #BCBCBC;
  font-style: normal;
  font-weight: 350;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.navbar-block__link:hover {
  color: #fff;
}

.navbar-block__link:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.navbar-block__link:hover:after {
  width: 100%;
}

.navbar-logo {
  margin-right: 106px;
  width: 200px;
  height: 100px;
  background-image: url("../../../public/img/navbar-logo.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
  height: 20px;
}

.icon-link {
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon__search {
  background-image: url("../../../public/img/search.svg");
}

.icon__search:hover {
  background-image: url("../../../public/img/search-hover.svg");
}

.icon__select {
  background-image: url("../../../public/img/select.svg");
}

.icon__select:hover {
  background-image: url("../../../public/img/select-hover.svg");
}

.icon__user {
  background-image: url("../../../public/img/user.svg");
}

.icon__user:hover {
  background-image: url("../../../public/img/user-hover.svg");
}

.icon__bag {
  background-image: url("../../../public/img/backet.svg");
}

.icon__bag:hover {
  background-image: url("../../../public/img/bag-hover.svg");
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
  .header {
    width: 1200px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .container {
    max-width: 90%;
  }
  .header {
    max-width: 100%;
  }
  .navbar {
    max-width: 100%;
    height: 80px;
  }
  .navbar-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 16px;
  }
  .navbar-button--visibile {
    display: block;
  }
  .navbar-button--hidden {
    display: none;
  }
  .navbar-block {
    display: none;
  }
  .navbar-logo {
    margin-right: -20px;
    height: 80px;
  }
  .icon {
    width: 69px;
  }
  .icon__select--mobile_hidden, .icon__user--mobile_hidden {
    display: none;
  }
}

.footer__span {
  display: block;
  margin: 21px 0;
}

.footer-wrapper {
  padding: 45px 0 28px 0;
}

.footer__title {
  margin: 0 0 43px 0;
  color: #333333;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.03em;
}

.footer-form {
  position: relative;
}

.footer-form__input {
  padding: 18px 68px 18px 24px;
  width: 285px;
  height: 55px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  border: 1px solid #666666;
}

.footer-form__input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(102, 102, 102, 0.55);
}

.footer-form__input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(102, 102, 102, 0.55);
}

.footer-form__input::-ms-input-placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(102, 102, 102, 0.55);
}

.footer-form__input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(102, 102, 102, 0.55);
}

.footer-form__image {
  position: absolute;
  top: 21px;
  right: 25px;
  bottom: 21px;
  left: 240px;
  width: 20px;
  height: 13px;
  background-image: url("../../../public/img/footer-form__email.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-form__image--grey {
  display: none;
}

.footer-form__image--grey_active {
  display: block;
}

.footer-form__image--red {
  display: none;
}

.footer-form__image--red_active {
  display: block;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer-info__title {
  margin: 45px 0 41px 0;
  font-family: "GTEestiProDisplay-Light";
  color: #333333;
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.footer-info__link {
  display: inline-block;
  margin-bottom: 18px;
  color: #333333;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.footer-info__follows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 234px;
  height: 23px;
}
/*# sourceMappingURL=style.css.map */