.character
    display: flex
    justify-content: space-between
    width: 100%
    &__color-size
        display: flex
        justify-content: space-between
        // margin-bottom: 26px
        width: 139px
    &__sort-block
        display: flex
        // margin-bottom: 26px
        padding-right: 30px
    &__block
        display: flex
        align-items: flex-start
        position: relative
    &__span
        display: block
        margin-bottom: 27px
        font-family: $font-light
        color: $text-color3
        font-style: normal
        font-weight: 350
        font-size: 16px
        line-height: 19px
    &__button
        width: 23px
        height: 17px
        background-image: url("../../../public/img/arrow-down.svg")
        background-repeat: no-repeat
        background-position: center

// @media (max-width: 1200px)
// @media (min-width: 768px) and (max-width: 900px)
@media (min-width: 481px) and (max-width: 767px)
    .character
        &__span
            margin-bottom: 20px
            font-size: 14px
            line-height: 16px
@media (min-width: 320px) and (max-width: 480px)
    .character
        display: none