.card
    padding: 147px 0 94px 0
    animation: card 0.5s ease
    background-color: white
    &-wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
        padding: 50px 0 0px 0
        border-top: 1px solid $bg-color3
    &-jackets
        display: flex
        justify-content: space-between
        align-items: center
        width: 700px
    &-choice
        display: flex
        flex-direction: column
        justify-content: space-between
        row-gap: 30px
        width: 75px
        &__image
            width: 75px
            height: 90px
            border: 1px solid $bg-color3
            cursor: pointer
            opacity: 0.5
            &:hover
                border: 1px solid $text-color2
                opacity: 1
            &--active
                border: 1px solid $text-color2
                opacity: 1
    &-main
        width: 575px
        height: 630px
        border: 1px solid $bg-color3
        overflow: hidden
        &__image
            width: 100%
            height: 100%
            object-fit: cover
    &-info
        width: 447px
        &__mobile
            display: none
        &__select
            display: flex
            justify-content: space-between
            align-items: flex-start
            margin-bottom: 16px
            cursor: pointer
        &__articl
            margin-right: 30px
            color: $text-color2
            +font
        &__icon
            display: flex
            flex-shrink: 0
            margin-left: 20px
            width: 18px
            height: 15px
            background-image: url("../../../public/img/select-catalog.svg")
            +background-image
            &--active
                background-image: url("../../../public/img/select-active.svg")
        &__title
            margin-bottom: 14px
            font-family: $font-light
            color: $text-color3
            font-weight: 350
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.02em
        &__price
            display: inline-block
            margin-bottom: 20px
            font-family: $font-light
            color: $text-color3
            font-weight: 350
            font-size: 20px
            line-height: 23px
            letter-spacing: 0.03em
        &__color-block
            position: relative
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-bottom: 20px
            padding: 22px 0
            height: 153px
            border-top: 1px solid $bg-color3
            border-bottom: 1px solid $bg-color3
        &__choose
            color: $text-color3
            +font
        &__color
            display: flex
            height: 68px
        &__color-name
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-right: 30px
            height: 68px
        &__item
            //position: relative
            width: 27px
            height: 27px
            +background-image
            //border-radius: 50% !important
            //-webkit-border-radius: 50% !important
            //-webkit-border-radius: 27px 27px 27px 27px !important
            //-moz-border-radius: 50%
            // border: 1px solid $text-color4
            // outline: 1px solid #000
            cursor: pointer
            //overflow: hidden
            //-webkit-transform: translate3d(0, 0, 0)
            // &:hover
            //     outline: 1px solid white
            &--active
                border: none
                outline: none
            &-image
                //position: absolute
                width: 100%
                height: 100%
                border-radius: 50% !important
                -webkit-border-radius: 50% !important
                //outline: 1px solid #000
                //border: 1px solid $text-color4
                border: 1px solid red
                //&:hover
                    //outline: 1px solid white
        &__name-item
            color: $text-color3
            +font
        &__size
            position: relative
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-bottom: 20px
            padding: 0 0 22px 0
            // width: 314px
            height: 78px
            border-bottom: 1px solid $bg-color3
        &__size-block
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
            width: 314px
        &__size-input
            display: none
            cursor: pointer
        &__size-label
            position: relative
            color: $text-color2
            font-style: normal
            +font
            cursor: pointer
            &:after
                content: ""
                display: block
                height: 1px
                width: 0%
                background-color: $text-color2
                transition: width 0.2s ease-in-out
            &:hover:after
                width: 100%
            &--active
                &::after
                    width: 100%
        &__button
            margin-bottom: 48px
            width: 200px
            height: 50px
        &__text
            color: $text-color3
            font-weight: 300
            font-size: 16px
            line-height: 23px
        &__link-button
            font-size: 16px
            line-height: 19px
            font-family: $font-thin
            border-bottom: 1px solid $text-color2
            &:hover
                border-bottom: none

// @keyframes card
//     0%
//         transform: scale(0)
//     100%
//         transform: scale(1)

@media (max-width: 1200px)
    .card
        &-jackets
            width: 55%
        &-choice
            row-gap: 10px
            height: 100%
            &__image
                width: 90%
                height: 100%
        &-main
            width: 95%
            height: auto
        &-info
            width: 40%
@media (min-width: 768px) and (max-width: 900px)
    .card
        padding-top: 128px
        &-wrapper
            padding-bottom: 0
        &-jackets
            flex-direction: column-reverse
            justify-content: flex-end
            width: 50%
        &-choice
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            column-gap: 6.5%
            width: 100%
            height: auto
            &__image
                margin-bottom: 20px
                //width: 29%
                width: 100%
                height: auto
            &__label
                width: 29%
        &-main
            margin-bottom: 20px
            width: 100%
            height: auto
        &-info
            width: 40%
            // &__name-item
            //     color: $text-color3
            //     font-weight: 300
            //     font-size: 14px
            //     line-height: 19px
            &__line
                width: 100%
            &__title
            &__price
            &__color
                // width: 78%
                // height: 20%
                &-block
                    // width: 100%
                    // height: 150px
                &-name
                    // width: 100%
            &__size
                &-block
                    width: 90%
                &-item
                    font-size: 13px
            &__text, &__choose, &__item, &__articl, &__link
                // font-size: 13px
                // line-height: 24px
            &__button
                // width: 100%
@media (min-width: 481px) and (max-width: 767px)
    .card
        padding: 83px 0 0px 0px
        &-wrapper
            padding-bottom: 46px
        &-jackets
            flex-direction: column-reverse
            justify-content: flex-end
            width: 50%
        &-choice
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            column-gap: 6.5%
            width: 100%
            height: auto
            &__image
                margin-bottom: 20px
                //width: 29%
                width: 100%
                height: auto
            &__label
                width: 29%
        &-main
            margin-bottom: 20px
            width: 100%
            height: auto
        &-info
            width: 40%
            &__line
                width: 100%
            &__title
                font-size: 20px
                line-height: 23px
            &__price
                font-size: 16px
                line-height: 19px
            &__color
                height: 66px
                &-block
                    width: 100%
                    height: 149px
            &__color-name
                margin-right: 39px
            &__size
                //width: 100%
                height: 109px
                &-block
                    justify-content: flex-start
                    width: 100%
                    height: 52px
                    column-gap: 8%
            &__choose, &__name-item, &__articl, &__link-button, &__size-label
                +adapt-font-320-640
            &__text
                font-size: 14px
            &__button
                width: 100%
@media (min-width: 320px) and (max-width: 480px)
    .card
        padding: 73px 0 46px 0
        &-wrapper
            flex-direction: column
            width: 100%
        &-jackets
            display: none
        &__select
            flex-direction: column
        &-info
            width: 100%
            &__mobile
                display: block
            &__line, &__color-block, &__size
                display: none
            &__button
                width: 100%
