.card
    position: absolute
    top: 208px
    right: 0
    left: 0
    background-color: white
    width: 100%
    height: 98%
    animation: cardModal 0.5s ease
    &-wrapper
        padding-top: 50px
        display: flex
        justify-content: space-between
        align-items: flex-start
    &-jackets
        display: flex
        justify-content: space-between
        align-items: center
        width: 700px
        // height: 630px
    &-choice
        display: flex
        flex-direction: column
        justify-content: space-between
        row-gap: 30px
        width: 75px
        // height: 570px
        &__image
            width: 75px
            height: 90px
            border: 1px solid $bg-color3
            cursor: pointer
            opacity: 0.5
            &:hover
                border: 1px solid $text-color2
                opacity: 1
    &-main
        width: 575px
        height: 630px
    &-info
        width: 447px
        height: 713px
        &__select
            display: flex
            justify-content: space-between
            margin-bottom: 16px
            cursor: pointer
        &__articl
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__title
            margin-bottom: 14px
            font-family: $font-light
            color: $text-color3
            font-style: normal
            font-weight: 350
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.02em
        &__price
            display: inline-block
            margin-bottom: 20px
            font-family: $font-light
            color: $text-color3
            font-style: normal
            font-weight: 350
            font-size: 20px
            line-height: 23px
            letter-spacing: 0.03em
        &__color-block
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-bottom: 20px
            height: 153px
        &__choose
            color: $text-color3
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__color
            display: flex
            align-items: center
            width: 100%
        &__item
            margin-right: 16%
            width: 27px
            height: 27px
            border-radius: 50%
            border: 1px solid $text-color4
            outline: 1px solid #000
            cursor: pointer
            &:last-child
                margin-right: 0px
            &:hover
                outline: 1px solid white
            // &--grey
            //     background-color: $text-color2
            // &--black
            //     background-color: #000
        &__color-name
            display: flex
            align-items: center
            width: 100%
        &__name-item
            margin-right: 7%
            color: $text-color3
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
            &:last-child
                margin-right: 0px
        &__size
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-bottom: 50px
            width: 314px
            height: 78px
        &__size-block
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
        &__size-input
            display: none
            cursor: pointer
        &__size-label
            position: relative
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
            cursor: pointer
            &:after
                content: ""
                display: block
                height: 1px
                width: 0%
                background-color: $text-color2
                transition: width 0.2s ease-in-out
            &:hover:after
                width: 100%
        &__button
            margin-bottom: 47px
            width: 200px
            height: 50px
        &__text, &__link-button
            color: $text-color3
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 23px
        &__link-button
            font-family: $font-thin
            text-decoration: underline
            &:hover
                text-decoration: none

@keyframes cardModal
    0%
        transform: scale(0)
    100%
        transform: scale(1)
@media (max-width: 1200px)
    .card
        &-jackets
            // align-items: flex-start
            width: 55%
        &-choice
            row-gap: 10px
            // width: 90%
            height: 100%
            &__image
                width: 90%
                height: 100%
        &-main
            width: 95%
            height: auto
        &-info
            width: 40%
@media (min-width: 768px) and (max-width: 900px)
    .card
        top: 210px
        &-jackets
            flex-direction: column-reverse
            justify-content: flex-end
            width: 50%
        &-choice
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            column-gap: 6.5%
            width: 100%
            height: auto
            &__image
                margin-bottom: 20px
                width: 29%
        &-main
            margin-bottom: 20px
            width: 100%
            height: auto
        &-info
            width: 40%
            &__line
                width: 100%
            &__title
                font-size: 1em
            &__price
                font-size: 1em
            &__color
                width: 78%
                height: 20%
                &-block, &-name
                    width: 100%
            &__size
                width: 90%
                &-item
                    font-size: 13px
            &__text, &__choose, &__item, &__articl, &__link
                font-size: 13px
                line-height: 24px
            &__button
                width: 100%
@media (min-width: 481px) and (max-width: 767px)
    .card
        top: 124px
        &-jackets
            flex-direction: column-reverse
            justify-content: flex-end
            width: 50%
        &-choice
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            column-gap: 6.5%
            width: 100%
            height: auto
            &__image
                margin-bottom: 20px
                width: 29%
        &-main
            margin-bottom: 20px
            width: 100%
            height: auto
        &-info
            width: 40%
            &__line
                width: 100%
            &__title
                font-size: 1em
            &__price
                font-size: 1em
            &__color
                width: 78%
                height: 20%
                &-block, &-name
                    width: 100%
            &__size
                width: 90%
                &-item
                    font-size: 13px
            &__text, &__choose, &__item, &__articl, &__link
                font-size: 13px
                line-height: 24px
            &__button
                width: 100%
@media (min-width: 320px) and (max-width: 480px)
    .card
        top: 110px
        &-wrapper
            flex-direction: column
            width: 100%
        &-jackets
            display: none
        &__select
            flex-direction: column
        &-info
            width: 100%
            &__line, &__color-block, &__size
                display: none
            // &__button-light
            //     display: flex
            //     width: 100%
            &__button
                width: 100%
            &__text
                text-align: center