.count
    display: flex
    justify-content: space-between
    align-items: center
    //width: 0px
    //height: 0px
    &__button
        width: 30px
        height: 20px
        text-align: center
        font-weight: 300
        +font
    &__input
        width: 50%
        text-align: center
        font-weight: 300
        +font
