.thank
    position: fixed
    top: 0
    right: 0
    z-index: 4
    padding: 0px 200px 50px 200px
    width: 1050px
    height: 100%
    background-color: $bg-color1
    animation: thank 0.5s ease-in 1 both reverse
    overflow-x: hidden
    overflow-y: auto
    &::-webkit-scrollbar
        width: 0
    &--hidden
        animation: thankClose 0.5s ease-in 1 both
    &-wrapper
        width: 100%
    &-title
        position: sticky
        top: 0
        display: flex
        justify-content: space-between
        padding: 47px 0 0 0
        background-color: $bg-color1
        &__span
            color: $text-color2
            +font
    &__title
        margin: 38px 0 37px 0
        color: $text-color1
        font-weight: 300
        font-size: 40px
        line-height: 46px
        letter-spacing: 0.02em
    &-info
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 453px
        height: 129px
        &__text
            color: $text-color1
            +font
        &__link
            color: $text-color1
            border-bottom: 1px solid $text-color2
            &:hover
                border: none
    &-form
        &__block
            position: relative
            display: flex
            align-items: center
            margin-bottom: 100px
            width: 285px
            height: 55px
            border: 1px solid $text-color2
            background-color: $bg-color1
            &:hover, &:active, &:focus, &:disabled
                border: 1px solid $bg-color4
        &__title
            margin: 91px 0 43px 0
            color: $text-color1
            font-weight: 300
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.03em
        &__link
            color: $text-color2
        &__input
            padding: 18px 24px
            width: 85%
            height: 100%
            +font
            color: $bg-color4
            background-color: inherit
            &:placeholder
                color: rgba(102, 102, 102, 0.55)
        &__image
            width: 20px
            height: 13px
            background-image: url("../../../public/img/footer-form__email.svg")
            +background-image
        &__button
            width: 100%
            height: 50px

@keyframes thank
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 1
        transform: translateX(100%)
@keyframes thankClose
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 0
        transform: translateX(100%)

@media (max-width: 1200px)
    .thank
        padding: 0px 20px 50px 20px
        width: 690px
        &-title
            padding: 47px 0 0 0
// @media (min-width: 768px) and (max-width: 900px)
@media (min-width: 481px) and (max-width: 767px)
    .thank
        padding: 0px 20px 50px 20px
        width: 100%
        &-title
            padding: 23px 0 0 0
        &__title
            margin: 32px 0 33px 0
            line-height: 23px
            font-size: 20px
        &-block
            &__span
                +adapt-font-320-640
        &-info
            height: 108px
            &__text, &__link
                +adapt-font-320-640
        &-form
            &__block
                width: 220px
                height: 50px
            &__title
                margin: 73px 0 20px 0
                font-size: 18px
                line-height: 21px
            &__image
                margin-right: 25px
            &__button
                +adapt-font-320-640
@media (min-width: 320px) and (max-width: 480px)
    .thank
        padding: 0px 10px 50px 10px
        width: 100%
        &-title
            padding: 23px 0 0 0
        &__title
            margin: 32px 0 33px 0
            line-height: 23px
            font-size: 20px
        &-block
            &__span
                +adapt-font-320-640
        &-info
            width: 100%
            height: 114px
            &__text, &__link
                +adapt-font-320-640
        &-form
            &__block
                margin-bottom: 80px
                width: 100%
                height: 50px
            &__title
                margin: 73px 0 20px 0
                font-size: 18px
                line-height: 21px
            &__image
                margin: 0 25px
            &__button
                +adapt-font-320-640
