.header
    position: fixed
    top: 0
    right: 0
    left: 0
    background-color: $bg-color1
    z-index: 2
    max-width: 100%
.navbar
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 100%
    height: 100px
    &-button
        display: none
        &__line
            width: 30px
            height: 2px
            background-color: $text-color2
            &--active
                background-color: #ffff
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        width: 276px
        &__item
            list-style: none
        &__link
            text-decoration: none
            color: $text-color1
            font-style: normal
            font-weight: 350
            font-size: 16px
            line-height: 19px
            letter-spacing: 0.03em
            &:hover
                color: #fff
            &:after
                content: ''
                display: block
                height: 1px
                width: 0%
                background-color: #fff
                transition: width 0.3s ease-in-out
            &:hover:after
                width: 100%
    &-logo
        margin-right: 106px
        width: 200px
        height: 100px
        background-image: url(../../public/img/navbar-logo.svg)
        background-size: 100%
        background-position: center
        background-repeat: no-repeat
.icon
    position: relative
    display: flex
    justify-content: space-between
    width: 170px
    height: 20px
    &-link
        width: 20px
        height: 20px
        background-size: 100%
        background-position: center
        background-repeat: no-repeat
    &__search
        background-image: url(../../public/img/search.svg)
        &:hover
            background-image: url(../../public/img/search-hover.svg)
    &__select
        background-image: url(../../public/img/select.svg)
        &:hover
            background-image: url(../../public/img/select-hover.svg)
    &__user
        background-image: url(../../public/img/user.svg)
        &:hover
            background-image: url(../../public/img/user-hover.svg)
    &__bag
        background-image: url(../../public/img/backet.svg)
        &:hover
            background-image: url(../../public/img/bag-hover.svg)
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__search-hover
    //     display: none
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__select
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__select-hover
    //     display: none
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__user
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__user-hover
    //     display: none
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__backet
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    // &__backet-hover
    //     display: none
    //     &--active
    //         display: block
    //     &--hidden
    //         display: none
    &-lable
        position: absolute
        width: 19px
        height: 19px
        background-color: #fff
        border-radius: 50%
    &-link
        position: relative
        // &__search
        //     width: 20px
        //     height: 19px
        //     background-image: url(../../public/img/search.svg)
        //     background-size: 100%
        //     background-position: center
        //     background-repeat: no-repeat
    &-select
        &--active
            top: -12px
            left: 62px
            z-index: 1
            display: none
    &-bag
        &--active
            top: -12px
            left: 162px
            z-index: 1
            display: none