.header
    position: fixed
    top: 0
    right: 0
    left: 0
    max-width: 100%
    background-color: $bg-color1
    z-index: 2
.navbar
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 100%
    height: 100px
    &-button
        display: none
        height: 16px
        &--active
            flex-direction: column
            align-items: center
            justify-content: center
        &__line
            width: 30px
            height: 2px
            background-color: $text-color2
            transition: all 0.1s ease
            margin-bottom: 5px
            &:nth-child(3)
                margin-bottom: 0
            &--hover
                width: 30px
                height: 2px
                background-color: $bg-color4
                transition: all 0.1s ease
                margin-bottom: 5px
                &:nth-child(3)
                    margin-bottom: 0
            &--active
                position: absolute
                //width: 5%
                width: 34px
                height: 1px
                background-color: $text-color2
                transition: all 0.1s ease
                &:nth-of-type(1)
                    top: unset
                    transition-delay: 0.1s
                    transform: rotate(-45deg)
                &:nth-of-type(2)
                    opacity: 0
                &:nth-of-type(3)
                    bottom: unset
                    transition-delay: 0.1s
                    transform: rotate(45deg)
    &-block
        display: flex
        justify-content: space-between
        align-items: center
        width: 276px
        animation: 1s neon-2 alternate-reverse infinite
        &__link
            color: $text-color1
            font-weight: 350
            font-size: 16px
            line-height: 19px
            letter-spacing: 0.03em
            &:first-child
                animation: 2s neon alternate-reverse infinite
            &:hover
                color: #fff
            &:after
                content: ''
                display: block
                width: 0%
                height: 1px
                background-color: #fff
                transition: width 0.3s ease-in-out
            &:hover:after
                width: 100%

    &-logo
        margin-right: 106px
        height: 100%
.icon
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 170px
    &-link
        width: 30px
        height: 30px
        +background-image
        &__label
            position: absolute
            top: 0
            width: 19px
            height: 19px
            border-radius: 50% !important
            background-color: white
            color: $text-color3
    &__search
        background-image: url("../../../public/img/search-icon.svg")
        &:hover
            background-image: url("../../../public/img/search-icon-hover.svg")
    &__select
        background-image: url("../../../public/img/select-icon.svg")
        &:hover
            background-image: url("../../../public/img/select-icon-hover.svg")
    &__user
        background-image: url("../../../public/img/user-icon.svg")
        &:hover
            background-image: url("../../../public/img/user-icon-hover.svg")
    &__bag
        background-image: url("../../../public/img/bag-icon.svg")
        &:hover
            background-image: url("../../../public/img/bag-icon-hover.svg")

@keyframes neon
    from
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #BFE2FF
    to
        text-shadow: 0 0 20px #BFE2FF, 0 0 -25px #BFE2FF, 0 0 40px #BFE2FF, 0 0 50px #BFE2FF, 0 0 800px #BFE2FF

@media (max-width: 1200px)
    .container
        width: 90%

@media (min-width: 768px) and (max-width: 900px)
    .navbar
        height: 80px
        &-button
            &--active
                display: flex
                width: 30px
        &-block
            display: none
        &-logo
            margin-right: -20px
    .icon
        width: 69px
        &__select, &__user
            &--mobile
                &_hidden
                    display: none
@media (min-width: 481px) and (max-width: 767px)
    .container
        width: 94.5%
    .navbar
        height: 60px
        &-button
            &--active
                display: flex
                width: 30px
        &-block
            display: none
        &-logo
            margin-right: -20px
            height: 75px
    .icon
        width: 69px
        &__select, &__user
            &--mobile
                &_hidden
                    display: none
@media (min-width: 320px) and (max-width: 480px)
    .container
        width: 89%
    .navbar
        height: 50px
        &-button
            &--active
                display: flex
                width: 30px
        &-block
            display: none
        &-logo
            margin-right: -20px
            height: 62px
            // width: 110px
            // +background-image
    .icon
        width: 69px
        &__select, &__user
            &--mobile
                &_hidden
                    display: none
