.footer
    &__line
        max-width: 1200px
        height: 1px
        background-color: #E5E5E5
        margin-bottom: 45px
    &__span
        display: block
        margin-top: 21px
        margin-bottom: 21px
    &-form
        width: 309px
        display: flex
        flex-direction: column
        justify-content: space-between
        &__title
            margin-top: 0
            margin-bottom: 43px
            color: $text-color3
            font-style: normal
            font-weight: 300
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.03em
        &__form
            position: relative
        &__input
            padding: 18px 68px 18px 24px
            width: 285px
            height: 55px
            color: $text-color3
        &__image
            position: absolute
            top: 21px
            right: 25px
            bottom: 21px
            left: 240px
            width: 20px
            height: 13px
            background-image: url("../../../public/img/footer-form__email.svg")
            background-size: 100%
            background-repeat: no-repeat
            background-position: center
            &--grey
                display: none
                &_active
                    display: block
            &--red
                display: none
                &_active
                    display: block
    &-info
        display: flex
        justify-content: space-between
        margin-bottom: 46px
        width: 100%
        &__title
            margin: 45px 0 41px 0
            font-family: GTEestiProDisplay-Light
            color: $text-color3
            font-style: normal
            font-weight: 350
            font-size: 25px
            line-height: 29px
            letter-spacing: 0.03em
        &__link
            display: inline-block
            margin-bottom: 18px
            color: $text-color3
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__follows
            margin-right: 47px
        &__follows-links
            display: flex
            justify-content: space-between
            width: 234px