$text-color1: #BCBCBC
$text-color2: #666666
$text-color3: #333333
$text-color4: #FFFFFF
$bg-color1: #262626
$bg-color2: #F3F3F3
$bg-color3: #E5E5E5
$bg-color4: #F5F5F5
$font-light: "GTEestiProDisplay-Light"
$font-thin: "GTEestiProDisplay-Thin"

=font-light
    font-family: "GTEestiProDisplay-Light"
    font-weight: 350

=font-thin
    font-family: "GTEestiProDisplay-Thin"
    font-weight: 300

=font
    font-size: 16px
    line-height: 19px

=adapt-font-320-640
    font-size: 14px
    line-height: 16px

=background-image
    background-size: 100%
    background-position: center
    background-repeat: no-repeat

=background-image-cover
    background-size: cover
    background-position: center
    background-repeat: no-repeat

// @media (max-width: 1200px)
// @media (min-width: 768px) and (max-width: 900px)
// @media (min-width: 481px) and (max-width: 767px)
// @media (min-width: 320px) and (max-width: 480px)

// import { useContext } from "react";
// import { AppContext } from "../context/AppContext";
// const card = useContext(AppContext);