.button-light
    &__button
        margin-bottom: 40px
        width: 50%
        font-family: $font-thin
        font-weight: 300
        &:hover
            background-color: rgba(38, 38, 38, 0.1)
    &__image
        margin-left: 14px